Django==1.6
dj-database-url==0.2.2
dj-static==0.0.5
django-dajax==0.9.2
git+git://github.com/jayfk/django-dajaxice@3cb1598db9691dbe579afcb3bf6e79b6ed4e3229
gunicorn==18.0
psycopg2==2.5.1
static==0.4
wsgiref==0.1.2
